
div {
    margin-top:1em;
    margin-bottom:1em;
}
input {
    padding: .5em;
    margin: .5em;
}
select {
    padding: .5em;
    margin: .5em;
}
.hideo {
    display: none;
}

#signatureparent {
    width: 50%;
    color:darkblue;
    background-color:darkgrey;

}

/*This is the div within which the signature canvas is fitted*/
#signature {
    
    border: 2px dotted black;
    background-color:lightgrey;
}

#signedParent {
    width: 50%;
    color:darkblue;
    background-color:darkgrey;
}

#signed {
    padding:20px;
    background-color:white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
html.touch #content {
    float:left;
    width:92%;
}
html.touch #scrollgrabber {
    float:right;
    width:4%;
    margin-right:2%;
}
html.borderradius #scrollgrabber {
    border-radius: 1em;
}